html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    
}
footer {
    padding: 1rem 0;
    text-align: center;
}

.container-log {
    margin: 10px auto;
    padding: 2%;
    margin-top: 10%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(233, 232, 232, 0.1);
}
 
#title-login{
    text-align: center;
}

#new-client{
    margin-top: 10px;
    margin-left: 10px;
}

.card-client{
    margin: 10px;
    padding: 4%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.644);
    border-radius: 8px;
}

.client-div{
    padding: 4%;
}

.client-buttons{
 margin-top: 10px;
 margin-left: 10px;
 padding: 1%;   
}

.card-general{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    padding: 4%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.644);
    border-radius: 8px;
}



.table-custom th, .table-custom td {
    padding: 5px;
}

.table-custom tr.status-pago {
    background-color: #338a47 !important; /* Verde para 'Pago' */
    color: #020202 !important; /* Texto verde */
}

.table-custom tr.status-falta {
    background-color: #cc9297 !important; /* Rojo para 'Falta' */
    color: #0a0a0a !important; /* Texto rojo */
}

.table-custom tr.status-default{
    background-color: rgb(136, 138, 139);
    color: #161616;
}


table{
    background-color: transparent !important;
    width: 100%;
}



/* Asegurando que la tabla sea responsive */
@media screen and (max-width: 768px) {
    .table-custom {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}


@media (max-width: 768px) {
    .card-general{
        margin: 10px;
        padding: 4%;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.644);
        border-radius: 8px;
    }
}